
<div class="alert alert-warning" role="alert" *ngIf="!display_content || display_content.length === 0" >
  No records.
</div>

<div *ngIf="display_content && display_content.length > 0" class="container col-12" >

  <button type="button" class="btn btn-outline-secondary float-right mt-2 mb-2" [disabled]="!focused_place"
    (click)="requireDetail(null)"
  >Details <i class="fas fa-angle-right"></i></button>

  <table class="table table-hover table-responsive">
    <thead style="width: 100%;">
    <tr style=" margin-left: auto; margin-right: auto;">
      <th scope="col" style="width: 8%;">#</th>
      <th scope="col" style="width: 8%;">Category</th>
      <th scope="col" style="width: 34%;">Name</th>
      <th scope="col" style="width: 34%;">Address</th>
      <th scope="col" style="width: 8%;">Favorite</th>
      <th scope="col" style="width: 8%;">Details</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let place of display_content; let i = index"
          [ngClass]="{'table-warning': checkIfFocused(place)}">
        <th scope="row">{{ i+1 }}</th>
        <td><img class="category_icon" src="{{ place.icon }}"></td>
        <td>{{ place.name }}</td>
        <td>{{ place.vicinity }}</td>
        <td><div class="icon_btn clickable" (click)="addOrRemoveFavorite(place)">
          <i *ngIf="!isResult"  class="fas fa-trash-alt"></i>
          <i *ngIf="isResult && !checkIfInFavorite(place)" class="far fa-star"></i>
          <i *ngIf="isResult && checkIfInFavorite(place)" class="fas fa-star" style="color: gold"></i>
        </div></td>
        <td><div class="icon_btn clickable" (click)="requireDetail(place)"><i class="fas fa-angle-right"></i></div></td>
      </tr>
    </tbody>
  </table>

</div>




