.container {
  text-align: center;
  margin-top: 20px;
}

.category_icon {
  max-width: 30px;
}

.icon_btn {
  width: 30px;
  height: 30px;
  border: 1px solid #D0D0D0;;
  border-radius: 2px;
}

.icon_btn:hover {
  background-color: #f5f5f5;
}
